nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  padding: 10px;
  gap: 60px;
}

button {
  width: 90px;
  padding: 8px;
  color: #38bdf8;
  background: none;
  border: none;
  font-weight: bold;
  font-size: 15px;
}

button:hover {
  background: #38bff870;
  color: white;
  border-radius: 5px;
}

button:focus {
  background: #38bdf8;
  color: white;
  border-radius: 5px;
}

.add-post button {
  margin-left: 5px;
}
