<section *ngIf="post">
  <article>
    <!-- Back knapp för att navigera till home page-->
    <img
      src="assets/go-back-arrow.png"
      alt="Back"
      ngClass="back"
      routerLink="/"
    />
    <!-- Visar titel, bild, likes, dislikes, creationDate etc -->
    <h1>{{ post.title }}</h1>
    <img [src]="post.thumbnailUrl" />
    <p>{{ post.body }}</p>
    <div ngClass="div-ld">
      <div ngClass="likes" (click)="likes()">
        <img [src]="likeImg" alt="like" img />
        <p>{{ post.likes }}</p>
      </div>
      <div ngClass="dislike" (click)="dislikes()">
        <img [src]="dislikeImg" alt="dislike" />
        <p>{{ post.dislikes }}</p>
      </div>
    </div>
    <p ngClass="date">
      Published: {{ post.creationDate | date : "dd/MM/yy - kl.HH:mm" }}
    </p>
  </article>
</section>
<!-- comments-component med PostId som inmatning -->
<app-comment [postId]="postId"></app-comment>
