section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 55%;
  padding: 30px;
}

img {
  max-width: 70%;
  height: auto;
}
h1 {
  color: #38bdf8;
}

.back {
  width: 20px;
  margin-left: 90%;
}

p {
  font-size: 15px;
  max-width: 60%;
}

.date {
  font-size: 10px;
}

.div-ld {
  display: flex;
  gap: 30px;
}

.likes,
.dislike {
  display: flex;
  gap: 3px;
  width: 30px;
}

.likes p,
.dislike p {
  font-size: 12px;
}
